.posts__form__container {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  width: 50ch;
}

.posts__form__header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  display: flex;
}

.posts__form__date {
  flex-grow: 1;
  margin-left: 0.5rem;

}

.posts__form__message {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  font: unset;
  padding: 0.5rem;
  resize: none;
}

.posts__form__footer {
  border-top: 1px solid rgba(0, 0, 0, 20%);
}

.posts_form__reference_container {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  padding-left: 0.25rem;
}

.posts_form__reference_input {
  border: none;
  width: 100%;
}
