.posts__post__container {
  display: flex;
  flex-direction: column;
  width: 50ch;
}

.posts__post__header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  display: flex;
}

.posts__post__date {
  flex-grow: 1;
  margin-left: 0.5rem;
}

.posts__post__message {
  margin: 0;
  padding: 0.5rem;
  white-space: pre-wrap;
}

.posts__post__footer {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 20%);
  display: flex;
  justify-content: space-between;
}

.posts__post__comments_count {
  flex-shrink: 0;
  margin: 0 0.5rem;
}
