.posts__index__list_container {
  margin: auto;
  width: fit-content;
}

.posts__index__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}
