.posts__index__posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
}

.posts__index__post {
  border: 1px solid black;
  border-radius: 5px;
}
